<% @scores_by_date.each do |date,scores| %>
  <p> <%= date %> </p>

  <ul>
    <% scores.each do |score| %>
        <li><%= score.user.name %> <%= score.seconds %>s at <%= score.published_time %> </li>
    <% end %>
  </ul>

<% end %>
