<% @results_by_date.each do |date,results| %>
  <p> <%= date %> </p>

  <ul>
    <% results.each do |result| %>
        <li><%= result.user.name %> <%= result.seconds %>s at <%= result.published_time %> </li>
    <% end %>
  </ul>

<% end %>
